@import 'tailwindcss';
@import '@nuxt/ui';
@plugin '@tailwindcss/typography';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

@layer utilities {
  .prose {
    --tw-prose-body: theme(colors.gray.700);
    --tw-prose-headings: theme(colors.gray.900);
    --tw-prose-links: theme(colors.primary.600);
    --tw-prose-bold: theme(colors.gray.900);
    --tw-prose-counters: theme(colors.gray.500);
    --tw-prose-bullets: theme(colors.gray.400);
    --tw-prose-hr: theme(colors.gray.200);
    --tw-prose-quotes: theme(colors.gray.800);
    --tw-prose-quote-borders: theme(colors.gray.200);
    --tw-prose-code: theme(colors.gray.900);
    --tw-prose-pre-code: theme(colors.gray.100);
    --tw-prose-pre-bg: theme(colors.gray.900);
    --tw-prose-th-borders: theme(colors.gray.200);
    --tw-prose-td-borders: theme(colors.gray.200);
  }

  .dark .prose {
    --tw-prose-body: theme(colors.gray.300);
    --tw-prose-headings: theme(colors.white);
    --tw-prose-links: theme(colors.primary.400);
    --tw-prose-bold: theme(colors.white);
    --tw-prose-counters: theme(colors.gray.400);
    --tw-prose-bullets: theme(colors.gray.500);
    --tw-prose-hr: theme(colors.gray.700);
    --tw-prose-quotes: theme(colors.gray.100);
    --tw-prose-quote-borders: theme(colors.gray.700);
    --tw-prose-code: theme(colors.gray.100);
    --tw-prose-pre-code: theme(colors.gray.200);
    --tw-prose-pre-bg: theme(colors.gray.900);
    --tw-prose-th-borders: theme(colors.gray.700);
    --tw-prose-td-borders: theme(colors.gray.700);
  }
}
